$primaryColor: #5369FC;
.process-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1, h2, p, span {
        text-align: center;
    }

    p {
        font: 400 16px 'Poppins', sans-serif;
    }
    span {
        font: 300 14px 'Poppins', sans-serif;
    }
    button {
        margin-top: 20px;
        background-color: $primaryColor;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
    }

    [disabled], .disabled {
        pointer-events: none; /* Prevent clicking */
        opacity: 0.6; /* Make it look faded */
        cursor: not-allowed; /* Show "not-allowed" cursor */
        filter: grayscale(50%); /* Optional: Slightly gray out */
      }

      .alert {
        font-size: 12px;
        color: #dc3545;
        margin-top: 1rem;
        text-align: center;
        background-color: #f8d7da;
        padding: .5em 1rem;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
}