<div>
    <app-sidebar></app-sidebar>
    <app-header></app-header>
    <div class="upload-page">
        <h1>Upload</h1>
        <h2>Click the button below to start the upload process</h2>

        <p>The system will read the Excel file generated in (step (a) Data generation) and will save the data in the Microsoft SQL database</p>
        <span>Note: Before saving the records, the system will update the student scores and add 5.</span>

        <p-toast></p-toast>
        <button class="btn" [disabled]="isLoading()" (click)="startUpload()">
            {{ isLoading() ? 'Uploading...' : 'Upload'}}
        </button>
    </div>
</div>